In [1]:
# Importing essential libraries
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('data_cleaned.csv')

In [3]:
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [4]:
data.isnull().sum()

Survived      0
Age           0
Fare          0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
SibSp_0       0
SibSp_1       0
SibSp_2       0
SibSp_3       0
SibSp_4       0
SibSp_5       0
SibSp_8       0
Parch_0       0
Parch_1       0
Parch_2       0
Parch_3       0
Parch_4       0
Parch_5       0
Parch_6       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

# Isolating Dependent and Independent Variables

In [5]:
x = data.drop('Survived', axis=1)
y = data['Survived']
x.shape,y.shape

((891, 24), (891,))

# Dividing data into train-test

In [6]:
from sklearn.model_selection import train_test_split
trainx, testx, trainy, testy = train_test_split(x, y, random_state = 101, stratify = y)
trainx.shape, testx.shape, trainy.shape, testy.shape

((668, 24), (223, 24), (668,), (223,))

# Implementing Logistic Regression

In [7]:
from sklearn.linear_model import LogisticRegression
lreg = LogisticRegression()
# Training Model
lreg.fit(trainx, trainy)
# Making predictions on test set and saving to variable
pred1=lreg.predict(testx)
# Finding score of the Logistic Regression model on test set
mscore = lreg.score(testx, testy)
print(f'Prediction Score : {(mscore*100).round(2)}')

Prediction Score : 77.58

# Implementing KNN

In [8]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
# Training Model
knn.fit(trainx, trainy)
# Making predictions on test set and saving to variable
pred2 = knn.predict(testx)
# Finding score of the Logistic Regression model on test set
mscore = knn.score(testx, testy)
print(f'Prediction Score : {(mscore*100).round(2)}')

Prediction Score : 73.99

# Building and predicting via Decision Tree

In [9]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
# Training Model
dtc.fit(trainx, trainy)
# Making prediction and saving to a  variable
pred3 = dtc.predict(testx)
# Finding score of the Logistic Regression model on test set
mscore = dtc.score(testx, testy)
print(f'Prediction Score : {mscore.round(2)*100}')

Prediction Score : 76.0

# Making final predictions on top of above three models

In [10]:
from statistics import mode
final_preds = np.array([])

for i in range(len(testx)):
    final_preds = np.append(final_preds, mode([pred1[i], pred2[i], pred3[i]]))

# Calculating accuracy score of final model

In [11]:
from sklearn.metrics import accuracy_score
acc_score = accuracy_score(final_preds, testy)
print(f'Final Predication Score: {(acc_score*100).round(2)}')

Final Predication Score: 79.37

## Validation Score rises 
### Individual Scores = [77.58, 73.99, 76.00]
### Final Score = 79.37